<div class="form-container">
  <mat-form-field appearance="fill">
    <mat-label>Question Text</mat-label>
    <input matInput [(ngModel)]="questionText" (ngModelChange)="onFilterChange()" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Category</mat-label>
    <mat-select [(value)]="selectedCategory" (selectionChange)="onFilterChange()">
      <mat-option *ngFor="let category of categories" [value]="category.value">
        {{ category.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
