.question-table-container{
  padding-top: 4vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.mat-elevation-z8 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}

tr:hover{
  opacity: 0.7;
  background: #faf9fd;
}
.mat-column-id {
  width: 10%; /* 10% of the table width */
}

.mat-column-text {
  width: 80%; /* 60% of the table width */
}

.mat-column-category {
  width: 10%; /* 30% of the table width */
}

.mat-mdc-row{
  width: 100%;
}
