<div class="container">
    <div class="form-container">
    <h2 class="form-title" *ngIf="!isEditMode">Question Form</h2>
    <h2 class="form-title" *ngIf="isEditMode">Edit Question</h2>
    <form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>Text</mat-label>
            <textarea matInput formControlName="text"></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Category</mat-label>
            <mat-select formControlName="category">
                <mat-option *ngFor="let c of questionCategories" [value]="c.value">
                    {{ c.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Type</mat-label>
            <mat-select formControlName="type">
                <mat-option *ngFor="let t of questionTypes" [value]="t.value">
                    {{ t.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button class="question-form-button" mat-flat-button color="primary" type="submit" *ngIf="!isEditMode">Submit</button>
        <button class="question-form-button" mat-flat-button color="primary" type="submit" *ngIf="isEditMode">Save Changes</button>
    </form>

    <button mat-raised-button color="primary" *ngIf="!showAnswerForm"  (click)="showAnswerForm = true">Add an answer</button>
     
    <div *ngIf="showAnswerForm" class="answer-form-container">
            <h2 class="answer-form-title">Answer Form</h2>
            <form [formGroup]="answerForm" (ngSubmit)="onAnswerSubmit()">
                <mat-form-field appearance="fill">
                    <mat-label>Answer Text</mat-label>
                    <textarea matInput formControlName="text" required></textarea>
                </mat-form-field>
                <mat-checkbox formControlName="isCorrect">Is Correct?</mat-checkbox>
                <div></div>
                <button class="form-button" mat-raised-button color="primary" type="submit">Submit answer</button>
            </form>
    </div>
</div>

<div *ngIf="answers.length > 0" >
    <h2 class="answers-list-title">Added Answers</h2>
    <mat-list>
      <mat-list-item class="answer-item" *ngFor="let answer of displayAnswers; let i = index">
        <div class="answer-container-edit-mode" *ngIf="isAnswerEditMode && editingAnswerIndex === i; else displayAnswer">
            <div class="edit-answer-text">
                <textarea matInput [(ngModel)]="displayAnswers[i].text"></textarea>
                <mat-checkbox [(ngModel)]="displayAnswers[i].isCorrect">Is Correct?</mat-checkbox>
            </div>
            <div>
                <button class="edit-answer-button" mat-flat-button color="primary" (click)="updateAnswer(i)">Update Answer</button>
                <button mat-raised-button color="primary" (click)="onCancelEditAnswer()">Cancel</button>
            </div>
          </div>
          <ng-template #displayAnswer>
            <div class="answer-container">
                <div class="answer-input">
                    <span>
                        <mat-icon class="check-icon" *ngIf="answer.isCorrect">check</mat-icon>
                    </span>
                    <span class="empty-space" *ngIf="!answer.isCorrect"></span>
                    <span>{{ answer.text }}</span>
                </div>
                <!-- <button mat-icon-button class="answer-delete-button" *ngIf="!isEditMode" (click)="onAnswerDelete(i)">
                    <mat-icon color="warn">delete</mat-icon>
                </button> -->
                <button mat-icon-button class="answer-menu-button" [matMenuTriggerFor]="answerMenu" *ngIf="isEditMode">
                <mat-icon>more_vert</mat-icon>
                </button>
            </div>
            <mat-menu #answerMenu="matMenu">
              <button mat-menu-item (click)="onAnswerEdit(i)">
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item (click)="onAnswerDelete(i)">
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
          </ng-template>
      </mat-list-item>
    </mat-list>
</div></div>