<div class="question-container" *ngIf="question">
    <h2 class="question-title">Question no. {{ question!.id }}</h2>
    <mat-card>
      <mat-card-header>
        <div>
          <mat-card-title>{{ question.text }}</mat-card-title>
        </div>
        <div class="card-content">
          <mat-card-subtitle>Category: {{ getCategoryText(question.category) }}</mat-card-subtitle>
          <mat-card-subtitle>Type: {{ getTypeText(question.type) }}</mat-card-subtitle>
        </div>
        <span class="menu-button">
            <mat-button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </mat-button>
        </span>
        <mat-menu #menu="matMenu">
         <button mat-menu-item (click)="editQuestion()">
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
         </button>
        </mat-menu>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item class="answer-item" *ngFor="let answer of question.answers; let i = index">
            <span>
              <mat-icon class="check-icon" *ngIf="answer.isCorrect">check</mat-icon>
            </span>
            <span class="empty-space" *ngIf="!answer.isCorrect"></span>
            <span>{{ answer.text }}</span>
          </mat-list-item>
        </mat-list>          
      </mat-card-content>
    </mat-card>
</div>