.question-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 20px;
}

mat-card {
    width: 100%;
    max-width: 600px;
    margin: 20px 0; 
}

mat-card-header {
    background-color: #e4f3ff;
    border-radius: 10px;
}

mat-card-title {
    font-size: 1.0em;
    font-weight:500;
    margin-bottom: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

mat-card-subtitle {
    font-size: 0.9em;
    color: #555;
}

mat-list {
    padding: 0;
}

mat-list-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
}


.question-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333; 
}

.menu-button {
    position: absolute;
    top: 16px;
    right: 16px;
}

.check-icon{
    color: green;
    margin-right: 8px;
    height: 20px;
}

.empty-space{
    margin-right: 8px;
    height: 20px;
    margin-left: 20px;
}