<div class="answer-form-container">
    <button mat-icon-button class="answer-delete-button" (click)="onAnswerDelete()">
        <mat-icon color="warn">delete</mat-icon>
    </button>
    <h2 class="answer-form-title">Answer Form</h2>
    <form [formGroup]="answerForm">
        <mat-checkbox formControlName="isCorrect">Is Correct?</mat-checkbox>
        <mat-form-field appearance="fill">
            <mat-label>Answer Text</mat-label>
            <textarea matInput formControlName="text" required></textarea>
        </mat-form-field>
        <mat-error *ngIf="answerForm.get('text')?.hasError('formServer')">
            {{ answerForm.get('text')?.getError('formServer') }}
        </mat-error>
    </form>
</div>