<mat-toolbar color="primary">
      <span>Back Office</span>
      <span class="menu-spacer"></span>
      <a mat-button (click)="redirectToHome()">Home</a>
      <a mat-button (click)="redirectToQuestionsOverview()">Questions Overview</a>
      <a mat-button (click)="redirectToExamOverview()">Exams</a>
      <a mat-button (click)="redirectToCreateQuestion()">Create Question</a>
      <button mat-button *ngIf="!isLoggedIn()" (click)="login()">Login</button>
      <button mat-button [matMenuTriggerFor]="userMenu" *ngIf="isLoggedIn()">
          <mat-icon>person</mat-icon>
      </button>
        <mat-menu #userMenu="matMenu">
          <span class="account-username">{{ getAccountUsername() }}</span>
          <br>
          <button class="logout-button" mat-menu-item (click)="logout()" >Logout</button>
        </mat-menu>
</mat-toolbar>
